html {
  font-size: 16px;
  font-family: Helvetica, Roboto, Arial, system-font, sans-serif;

  text-align: center;
}

body {
  --primary: #fe52c0;
  --secondary: white;

  --primary-fg: white;
  --secondary-fg: black;

  margin: 0;
}

.Hero,
.Main,
.Footer {
  width: calc(100% - 2rem);
  padding: 1rem;
}

.Logo {
  height: 1.35rem;
}

/* BUTTON STYLES */
.Button {
  background: none;
  font-weight: bold;

  border: none;
  cursor: pointer;
}
.Button:focus {
  outline: 0;
}
.Button[small] {
  padding: 0.4rem 2rem;

  font-size: 0.75rem;
}
.Button[large] {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

  font-size: 1rem;
}
.Button[color='primary'] {
  background-color: var(--primary);
  color: var(--primary-fg);
}
.Button[color='secondary'] {
  background-color: var(--secondary);
  color: var(--secondary-fg);
}
.Button--social {
  padding: 0.25rem;

  color: white;
  border: solid 1px white;
}
.Button[round] {
  border-radius: 30px;
}

/* HERO SECTION */
.Hero {
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(
      to bottom,
      hsl(196, 95%, 95%, 0.5),
      hsla(196, 95%, 95%, 0.35)
    ),
    url(/images/bg-hero-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.Hero__header {
  display: flex;
  justify-content: space-between;

  margin-bottom: 6rem;
}
.Hero__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  margin-bottom: 2rem;

  place-items: center;
}
.Hero__title {
  margin: 0 1rem 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
}
.Hero__message {
  margin: 0 0.5rem 2rem;

  font-weight: 400;
  line-height: 1.75rem;
}
.Hero__CTA {
  width: 20rem;
  max-width: calc(100% - 2rem);

  margin: 0 auto;
  margin-bottom: 3rem;
}
.Hero__illustration {
  width: 40rem;
  max-width: calc(100% - 4rem);
  margin: 0 auto;
}

/* CARDS */
.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* DESKTOP */
@media (min-width: 800px) {
  html {
    text-align: left;
  }

  .Hero {
    background-image: url(/images/bg-hero-desktop.svg);
  }
}
